body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.sidebar {
  background-color: #fff;
  height: 100vh;
  padding: 20px 0;
  box-shadow: 1px 0 1px rgb(0 0 0 / 43%);
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  padding: 0 20px;
  margin-bottom: 30px;
  color: #e60023; /* Color Pinterest */
}

.logo i {
  margin-right: 10px;
}

/* Lista del menú */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li a {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: background 0.3s;
}

.menu li a i {
  margin-right: 10px;
  font-size: 18px;
}

.menu li a:hover {
  background-color: #eee;
  border-left: 4px solid #e60023;
  padding-left: 16px;
}
header {
  margin-left: 90px; /* para que no se tape con el sidebar */
  padding: 20px;
}
/* barra de buscador */
.search-bar {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 25px;
  padding: 8px 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  max-width: 400px;
}

.search-bar input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
}
.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  font-size: 16px;
}

.search-bar button:hover {
  color: #e60023;
}

.fa {
    position: absolute;
    top: 29px;
    transform: scale(1.5);
    color: gray;
    pointer-events: none;
}
#content {
  padding: 6%;
}
.a-menu {
    color: black;      
    transition: color 0.3s; 
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}
.a-menu:hover {
  color: red;
  text-decoration: underline;
  background-color: #333;
}
